@* The root page of this section is passed in as the model *@

<div class="sidebar-root">

</div>

<!-- Mastodon backlink -->
<div style="display: none;">
    <a rel="me" href="https://mastodon.social/@nils_andresen">Mastodon</a>
</div>